<div class="panel panel-default">
  <div class="panel-body">
     <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div> <!-- / panel-body-->
	  <li class="<%= action_name=='landing_page' ? 'active' : nil %>" >
	  <%= link_to "Go to Home page",static_pages_landing_page_path %></li>
</div><!-- / panel -->