@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bike";
@import "static_pages";

body {
	margin-top: 78px;
	color:brown;
  background-color: lightblue;

}

.carousel-control {
  top: 50%;
}






