h1 {
 
	font-family: Futura;
	text-align: center;
	color: Green;
} 

footer {
	text-align: center;
	background-color: Gray;
	color: White;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 200px;
}

footer h1,
footer a {
	  color: White;
	  text-decoration: none;
}

.nav {
	float: right;
}
.navbar{
    color: brown;
    background-color: orange;
 }

 /*.carousel {
   margin: 90px 90px  ;
 }*/

 .header h2{
    text-align: center;
 }

 .container-fluid{
     margin: 10px 190px 190px 190px;
 }

 form_tag{
	
	text-align: center;
}
.twitter{
	float:left;
	margin-top:-10px;
}