h1 {
 
	font-family: Futura;
	text-align: center;
	color: Green;
} 

footer {
	text-align: center;
	background-color: Gray;
	color: White;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 200px;
}

footer h1,
footer a {
	  color: White;
	  text-decoration: none;
}

.nav{
	float: right;
}

image_tag {
  float: right;
}